/target
**/*.rs.bk
crates/create-image/target

.vscode
/userland/target
crates/fat-format/target
crates/fat-format/Cargo.lock
crates/usb-desc/target
crates/usb-desc/Cargo.lock
crates/wlan/target
crates/wlan/Cargo.lock
__pycache__/
crates/*/target
crates/*/Cargo.lock
!crates/rustos-rt/Cargo.lock
